.home {
    .banner {
        background-image: url("banner_background.png");
        background-repeat: no-repeat;
        background-size: cover;
        color: $background-color;
        height: 500px;

        .banner-contents {
            padding: 50px;
            max-width: $medium-width;
            display: flex;
            align-items: center;
            margin: auto;

            .banner-info {
                flex: 1;
                text-align: center;
                display: flex;
                flex-wrap: wrap;

                h3 {
                    font-size: 5em;
                    line-height: 1em;
                    font-weight: 700;
                }

                h4 {
                    font-size: 4em;
                    line-height: 1em;
                    font-weight: 700;
                }

                h5 {
                    font-size: 2em;
                    line-height: 1em;
                    font-weight: 700;
                }

                h6 {
                    font-size: 1.25em;
                    line-height: 1em;
                    font-weight: 700;
                }

                .header-group {
                    width: 100%;
                    margin-bottom: 50px;
                }

                .footer-group {
                    width: 100%;
                }
            }

            .banner-image {
                flex: 1;
                text-align: center;
                img {
                    height: 400px;
                }
            }

            * {
                text-transform: uppercase;
            }
        }
    }
}