---
layout: default
title: Maybe
---

<div class="home">
  <div class="banner">
    <div class="banner-contents">
      <div class="banner-info">
        <div class="header-group">
          <h3 class="banner-header">Spoiled</h3>
          <h4 class="banner-header-sub">Turnips</h4>
        </div>
        <div class="footer-group">
          <h5 class="banner-footer">Coming Soon</h5>
          <h6 class="banner-footer-sub">To Android and iOS</h6>
        </div>
      </div>
      <div class="banner-image">
        <img src="/assets/Turnip.png" alt="A Happy Turnip">
      </div>
    </div>
  </div>
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <section class="section-mailchimp">
    <div class="container">
      <div class="mailing-info">
        <h2 class="mailing-header">Join the Mailing List</h2>
		    <p class="mailing-detail">Stay up to date on Spoiled Turnips and other Degausser projects.</p>
      </div>
      {%- include mailchimp_form.html -%}
    </div>
  </section>

  <section id="about" class="section-about">

  </section>

</div>
